* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Start of header */
header {
    background-color: #ff6900;
    height: 100px;
    color: #fff;
}

.header-container {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 10px;
}

.header-container .h-container-logo img {
    width: 20%;
}

i {
    padding-left: 5px; /*vale anche per le icone nel footer*/
}
/* End of header */

/* Start of main */
.main-container {
    width: 90%;
    margin: 50px auto;
    height: 2000px; /*sistemare?*/
    background-color: lightblue; /*togliere*/
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    width: calc(100% / 3 - 20px);
    background-color: lightseagreen; /*togliere*/
}

.item-left, .item-center {
    margin-right: 30px;
}

.item-photo-1 {
    width: 100%;
}

.item-photo-1b {
    width: 100%;
    display: none;
}

.item-photo-1:hover {
    display: none;
}

.product-page:hover .item-photo-1b {
    display: block;
}

.product-page {
    position: relative;
}

.heart {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    background-color: #fff;
}

.item-details {
    position: absolute;
    bottom: 50px;
    left: 0px;
    color: #fff;
    display: flex;
}

.item-discount {
    background-color: #ff0000;
    margin-right: 5px;
    padding: 10px;
}

.item-sustainability {
    background-color: #008000;
    padding: 10px;
}

.product-name {
    font-weight: bolder;
    text-transform: uppercase;
}

.discounted-price {
    color: red;
    font-weight: bolder;
}

.full-price {
    text-decoration: line-through;
}
/*End of main*/

/* Start of footer */
footer {
    height: 200px;
    background-color: lightgreen;
}

.footer-container {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End of footer */

/* Debug */
.debug {
    border: 5px dashed purple;
}

/*
To do:
+ border bottom header shadow
+ 